@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
}
header{
    padding: 20px 70px;
    background: #1d1d1f;
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 90px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item{
    color: #d7d7d7;
    font-weight: 600;
    padding-bottom: 4px;
}
.nav-link{
    cursor: pointer;
    color: #d7d7d7;;
    font-weight: 600;
    padding-bottom: 4px;
}
.nav-link:hover{
    color: #a8a6a6;
    border-bottom: 2px solid #a61723;
}

.navbar{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}
main section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5rem 10rem;
}
.main-text h1{
    width: 15 rem;
    margin-bottom: 3vh;
}
.main-text h3{
    font-size: 3.5rem;
    margin-bottom: 2rem;
}
.main-text p{
    font-weight: 800;
    margin-bottom: 1.5rem;
}
.main-text .btn{
    display: inline-block;
    padding: 10px 25px;
    background: #a61723;
    border-radius: 20px;
    color: #fff;
    font-size: 1.5rem;
    transition: 0.5s ease-in-out;
    margin-top: 30px;
}
.main-text .btn:hover{
    transform: translateY(-8px);
    opacity: .85;
}
.main-text  h5{
    font-size: 1rem;
    color:#444;
    font-weight: 800;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.content{
    display: flex;
    align-items: center;
}
.content {
    position: absolute;
    gap: 10px;
    margin-bottom: 5px;
    margin-top: 500px; 
    left: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content li{
    list-style: none;
}
.content li a {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s ease-in-out;
}
.content li a:hover{
    background: #a61723;
    transform: translateY(-10px);
}

.main-img{
    transition: all 1s ease;
    z-index: 100;
}
.main-img img{
    width: 500px;
}
.circle{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #914e30;
    clip-path: circle(800px at right 1000px);
}
.icon-wrapper{
    width: 30px;
    height: 30px;
    position: relative;
}
#numero, .icon-wrapper::after{
    width: 15px;
    height: 15px;
    background-color: #a61723;
    font-size: 12px;
    font-weight: 600;
    color: white;
    display: grid;
    place-content: center;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    right: 0;
    opacity: 0;
    transform:  translateY(3px);
}
#numero, .icon-wrapper:hover::after{
    opacity: 1;
    transform: translateY(0);
    transition: opacity .25s;
    transform: .25s;
}

.bell-icon{
    max-width: 100%;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.icon-wrapper:hover .bell-icon{
    animation: shake 1s forwards;
}
dialog{
    border: none;
    border-radius: 1em;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    width: 30%;
    height: 350px;
    max-width: 300px;
    margin: 0% 78% ;
    margin-top: 32%;
    padding: 40px;
    background: #212122;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.7);
}

.ntf {
    margin: 10% ;
    margin-right: 10%;
    border-radius: 50%;
    min-width: 10%;
    width: 60px;
    height: 60px;
}
dialog h2{
    color: white;
    margin-top: -25px;
}
dialog h3{
    color: white;
    background-color: #911d26;
    border-radius: 1em;
    margin-top: 15px;
}

.btnClose{
    margin: 30% 100px;
    background-color: #a61723;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    top: 5px;
    right: 10px;
    cursor: pointer;
    color: white;
    transition: 0.3s ease-in-out;
}
.btnClose:hover{
    background-color: #911d26;
}

@media (max-width: 956px){
    
    .navbar{
        display: block;
    }
    .navbar.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 85px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #1d1d1f;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0;
    }
    .home{
        padding: 100px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .circle{
        display: none;
    }
    .home .text{
        display: none;
    }
    .home .content{
        display: none;
    }
    .home .main-text h1{
        font-size: 35px;
    }
    .home .main-text h2{
        font-size: 2.5 rem;
        line-height: 3rem;
    }
    .home .main-text p{
        font-size: 20px;
    }
    .home .main-img{
        width: 125%;
    }
    .main-text h5{
        display: none;
    }
}
@media (max-width: 1480px){
    .content {
        position: absolute;
        gap: 10px;
        margin-bottom: 5px;
        margin-top: 600px; 
        left: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width:1115px){
    .circle {
        width: 115%;
    }
    .home .main-img{
        width: 125%;
    }
}
@keyframes shake{
    10%{
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(-15deg);
    }
    30%{
        transform: rotate(15deg);
    }
    50%{
        transform: rotate(0deg);
    }
}