@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: white;
}
header{
    padding: 20px 70px;
    background: #1d1d1f;
}
li{
    list-style: none;
}
a{
    color: #fff;
    text-decoration: none;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navigation .logo{
    width: 90px;
}
.nav-menu{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item{
    color: #d7d7d7;
    font-weight: 600;
    padding-bottom: 4px;
}
.nav-link{
    cursor: pointer;
    color: #d7d7d7;;
    font-weight: 600;
    padding-bottom: 4px;
}
.nav-link:hover{
    color: #a8a6a6;
    border-bottom: 2px solid #a61723;
}

.navbar{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}


.container{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: calc(100vh - 85px);
    gap: 100px;
}
.left-side{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.items{
    align-self: flex-end;
}
.select-image{
    max-width: 400px;
    border-radius: 10px;
}
.select-image img{
    width: 100%;
}
.thumbnails{
    display: flex;
    justify-content: space-evenly;
    max-width: 400px;
    gap: 10px;
}
.thumbnail img{
    width: 100%;
    border-radius: 10px;
}
.right-side{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.content{
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#contador2{
    width: 50%;
    height: 30px;
    background-color: #a61723;
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}
.right-side h1{
    font-size: 35px;
}
.right-side h6{
    color: #a61723;
    font-size: 40px;
    font-weight: 800;
}
.right-side p{
    color: #1d1d1f;
    font-size: 15px;
    font-weight: bold;
}
.prices{
    display: flex;
    flex-direction: column;
}
.price{
    font-size: 30px;
    font-weight: 700;
}

.btn{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #a61723;
    padding: 10px 35px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    font-size: 15px;
    font-weight: 700;
}
@media (max-width: 956px){
    
    .navbar{
        display: block;
    }
    .navbar.active .bar:nth-child(2){
        opacity: 0;
    }
    .navbar.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .navbar.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        left: -100%;
        top: 85px;
        gap: 0;
        border-radius: 0 0 20px 20px;
        background-color: #1d1d1f;
        text-align: center;
        flex-direction: column;
        width: 100%;
        transition: 0.3s;
    }
    .nav-item{
        margin: 16px 0;
    }
    .nav-menu.active{
        left:0;
    }
}
